@import "tailwindcss";

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "nord";
  default: true;
  prefersdark: true;
  color-scheme: "dark";

  --color-base-100: #2E3440;
  --color-base-200: #3B4252;
  --color-base-300: #434C5E;
  --color-base-content: #D8DEE9;
  --color-primary: #88C0D0;
  --color-secondary: #81A1C1;
  --color-accent: #5E81AC;
  --color-neutral: #4C566A;
  --color-neutral-content: #ECEFF4;
  --color-info: #81A1C1;
  --color-success: #A3BE8C;
  --color-warning: #EBCB8B;
  --color-error: #BF616A;
}
